# Default ignored files
/shelf/
/workspace.xml

# Rider / JetBrains ignored files
/projectSettingsUpdater.xml
/.idea.Forza Horizon 6 Tune Master.iml
/modules.xml
/contentModel.xml

# .NET build outputs (игнорируем ВСЕ папки bin и obj в проекте)
[Bb]in/
[Oo]bj/

# Опционально: если хочешь игнорировать конкретно папку publish внутри bin
# bin/*/publish/